@charset "utf-8";
/* CSS Document */

body,td,th {font-family: Microsoft YaHei, sans-serif;} 
.csoptlist { table-layout: fixed;width:100%;solid #cad9ea; color:#666;border-collapse:collapse; border-color:#006699; } 
.csoptlist th{ background-repeat:repeat-x; text-align:center;} 
.csoptlist td,.csoptlist th{ border:1px solid #cad9ea; height:25px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; } 
.csoptlist tr.header{ font-size:12px;font-weight: bold;background-color:#f5fafe;} 
.csoptlist tr:hover{background-color: #dafdf3;cursor:pointer; } 

.tablelv{ table-layout: fixed;width:100%;solid #cad9ea; color:#666;border-collapse:collapse; border-color:#006699; } 
.tablelv th{ background-repeat:repeat-x; text-align:center;} 
.tablelv td,.tablelv th{ border:1px solid #cad9ea; height:25px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; } 
.tablelv tr.header{ font-size:12px;font-weight: bold;background-color:#f5fafe;} 

.realchn {border: 1px solid #e8e7e3;font-size:14px;height:25px}
.realchn :focus { border: 1px solid #e8e7e3; background-color: #FFFFFF; -webkit-box-shadow: none; box-shadow: none; outline: 0 !important;}
.dialog
{
    background-color:#ccc;
    -webkit-box-shadow:1px 1px 3px #292929;
    -moz-box-shadow:1px 1px 3px #292929;
    box-shadow:1px 1px 3px #292929;
    margin:10px;
}